<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feng.crawler.taobao.mapper.TaobaoShopMapper">

    <insert id="insertBatch">
        insert into taobao_shop(shop_url, extern_id) values
        <foreach collection="shopList" item="shop" separator=",">
            (#{shop.shopUrl}, #{shop.externId})
        </foreach>
    </insert>

</mapper>